.container {
  width: 100vw;
  position: relative;
  background-color: var(--main-background-color);
  padding: 0 8%;
  padding-bottom: 70px;
}

.curve {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0%;
  left: 0;
  transform: scaleY(0.5) translateY(-140%);
}

.curve path {
  filter: drop-shadow(0px -10px 9px #a07eff20);
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blobGroup {
  position: absolute;
  opacity: 0.06;
}

.blobGroup1 {
  top: 50%;
  left: 10%;
  width: 200px;
  height: auto;
}
.blobGroup2 {
  right: -5%;
  bottom: 0;
  width: 300px;
  height: auto;
}

.swiperContainer {
  /* margin: auto; */
  padding: 50px 10px !important;
}

@media screen and (max-width: 1400px) {
  .card0 {
    display: none;
  }
  .card {
    /* width: 300px;
    height: 350px; */
    padding-top: 50px;
    padding-bottom: 0px;
  }
  .cardImageContainer {
    width: 80px;
    height: 80px;
  }
  .para {
    font-size: 15px;
  }
  .heading {
    font-size: 25px;
  }
  .button {
    width: 70%;
    font-size: 15px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 4%;
  }
  /* .card:nth-child(2) {
    margin: 0 15px;
  } */
}

@media screen and (max-width: 950px) {
  .swiperContainer {
    padding: 20px 50px !important;
  }
  .container {
    padding: 0 0;
  }
  .blobGroup1 {
    top: 40%;
    left: 0%;
    width: 90px;
  }
  .blobGroup2 {
    width: 120px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0px 0;
  }
}
@media screen and (max-width: 450px) {
  .swiperContainer {
    padding: 0px 20px !important;
  }
  .container {
    padding: 0px 0;
  }
  .curve {
    transform: scaleY(0.5) translateY(20%);
  }
}
