.card {
  min-height: 370px;
  background-color: var(--main-color1);
  border-radius: 10px;
  text-align: center;
  position: relative;
  padding-top: 55px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px 0;
}

.cardImageContainer {
  background-color: white;
  position: absolute;
  top: 0;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.182);
  border: 2px solid var(--main-color1);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  width: 80%;
  height: 80%;
}

.headingContainer {
  position: relative;
  width: fit-content;
  margin: auto;
}

.heading {
  font-family: var(--heading-font);
  color: white;
  letter-spacing: 2px;
}

.heading::before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: white;
  position: absolute;
  right: 105%;
  top: 50%;
}
.heading::after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 105%;
  top: 50%;
}

.para {
  color: white;
  font-size: 17px;
  font-weight: 300;
}

.button {
  border: 1px solid white;
  width: 55%;
  display: block;
  margin: 20px auto;
  padding: 7px;
  border-radius: 3px;
  color: white;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  display: block;
  transition: all 0.3s ease;
  overflow: hidden;
}

.button::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.039);
  position: absolute;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  z-index: 1;
}

.button:hover::after {
  transform: translateX(0%);
}

@media screen and (max-width: 750px) {
  .card {
    min-height: 340px;
  }
  .heading {
    font-size: 20px;
  }
  .para {
    font-size: 15px;
  }
  .button {
    width: 70%;
    font-size: 15px;
  }
  .cardImageContainer {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 650px) {
  .para {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .card {
    min-height: 290px;
    padding-top: 45px;
    padding-bottom: 0px;
  }
}
