.container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: var(--main-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.curve {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0%;
  left: 0;
  transform: scaleY(0.6) translateY(-120%);
}

.curve path {
  filter: drop-shadow(0px -10px 9px #a07eff20);
}

.mainHeading {
  position: absolute;
  top: 0;
  font-family: var(--heading-font);
  letter-spacing: 2px;
  font-size: 35px;
}

.imageWrapper {
  position: relative;
  width: 70%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundLine {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.4;
}

.groupPhoto {
  position: absolute;
  width: 500px;
  height: auto;
  z-index: 2;
}

.masterClass {
  position: absolute;
  width: 330px;
  height: auto;
  z-index: 3;
  border: 2px solid white;
  border-radius: 10px;
  display: none;
}

.card {
  position: absolute;
  z-index: 5;
  background-color: white;
  width: 450px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.11);
}

.heading {
  font-size: 20px;
  font-weight: 300;
  color: var(--main-color2);
  margin-left: 20px;
}

.para {
  font-size: 15px;
  color: #747474;
  font-weight: 300;
}

.diff {
  color: var(--main-color1);
}

.cardImage {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  transform: translate(-70%, -70%);
  padding: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.116);
}

.cardImage i {
  font-size: 3rem;

  color: var(--main-color1);
}

.card1 {
  top: 10%;
  left: 0%;
}
.card2 {
  top: 40%;
  right: 0%;
}
.card3 {
  bottom: 10%;
  left: 10%;
}

@media screen and (max-width: 1500px) {
  .heading {
    font-size: 15px;
  }
  .para {
    font-size: 13px;
  }
  .card {
    width: 370px;
    padding: 10px;
  }
  .cardImage i {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .card1 {
    left: -10%;
  }
  .card2 {
    right: -10%;
  }
  .card3 {
    left: 0%;
  }
}

@media screen and (max-width: 1000px) {
  .heading {
    font-size: 13px;
  }

  .para {
    font-size: 11px;
  }
}

@media screen and (max-width: 850px) {
  .imageWrapper {
    width: 60%;
  }
  .groupPhoto {
    width: 80%;
  }
  .masterClass {
    width: 60%;
  }
  .card {
    /* position: static; */
  }
}

@media screen and (max-width: 600px) {
  .imageWrapper {
    width: 80%;
    top: 0;
  }
  .card {
    width: 100%;
  }
  .card1 {
    left: 0;
    top: 10%;
  }
  .card2 {
    left: 0;
    top: 40%;
  }
  .card3 {
    left: 0;
    top: 70%;
    bottom: unset;
  }
  .mainHeading {
    font-size: 27px;
  }
}

@media screen and (max-width: 500px) {
  .cardImage i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .imageWrapper {
    width: 90%;
  }
  .cardImage {
    transform: translate(-50%, -70%);
  }
  .heading {
    margin-left: 30px;
  }
  .mainHeading {
    font-size: 22px;
  }
}

@media screen and (max-width: 330px) {
  .cardImage i {
    font-size: 1.5rem;
  }
  .heading {
    font-size: 11px;
  }
  .para {
    font-size: 10px;
  }
}
