.container {
  background-color: rgba(0, 0, 0, 0.46);
  backdrop-filter: blur(4px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: formAnimation 0.2s ease;
}

@keyframes formAnimation {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.heading {
  font-size: 30px;
  font-weight: 300;
  color: var(--main-color1);
}

.subHeading {
  color: var(--font-color2);
}

.inputGroup {
  width: 100%;
  margin: 10px 0;
}

.label {
  font-size: 13px;
  color: var(--main-color1);
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.171);
  border-radius: 5px;
}
.icon {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--main-color1);
}

.input {
  width: 90%;
  padding: 15px 0;
  border: none;
  outline: none;
  color: var(--font-color2);
}

.button {
  background-color: var(--main-color1);
  color: white;
  border: none;
  padding: 13px 15px;
  border-radius: 5px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
}

.lastPara {
  color: var(--font-color2);
  font-weight: 300;
}

.diff {
  color: var(--main-color2);
  font-weight: 400;
  cursor: pointer;
}

.cross {
  position: absolute;
  bottom: 100%;
  right: 0;
  cursor: pointer;
}

.cross i {
  font-size: 35px;
  color: var(--main-color1);
}

.floatingMessage {
  position: absolute;
  top: -4%;
  background-color: white;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.226);
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  animation: successMessageAnimation 0.2s ease;
}

.success {
  color: #4bb543;
}

.error {
  color: rgb(255, 58, 58);
}

@keyframes successMessageAnimation {
  0% {
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
  }
}

@media screen and (max-width: 1400px) {
  .form {
    padding: 20px;
  }
  .heading {
    font-size: 23px;
  }
  .inputGroup {
    margin: 5px 0;
  }
  .input {
    padding: 13px 0;
  }
  .button {
    padding: 11px 13px;
    font-size: 15px;
  }
  .lastPara {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .form {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .form {
    width: 93%;
    padding: 10px 15px;
  }
}
