.container {
  min-height: 100vh;
  background-color: var(--main-background-color);
  /* background: linear-gradient(to right, black, #150b0c); */
  /* background: linear-gradient(to right, rgb(24, 24, 24), #150b0c); */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.backgroundImg {
  z-index: 0;
  position: absolute;
}

.backgroundImg1 {
  left: -4%;
  top: 3%;
  height: 100vh;
  width: auto;
  opacity: 0.5;
}

.backgroundImg2 {
  height: 76vh;
  width: auto;
  top: -10%;
  right: -10%;
}

@keyframes backgroundAnimation {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.03;
  }
  100% {
    scale: 1;
  }
}

.homeContent {
  z-index: 1;
  /* margin-left: 7%; */
  /* width: 850px; */
  width: 55%;
}

.headingContainer {
  position: relative;
  width: fit-content;
}

.mainHeading {
  color: var(--font-color1);
  font-size: 4rem;
  font-family: var(--heading-font);
  letter-spacing: 5px;
}

.mainHeading2 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 4px;
}

.diff {
  color: var(--main-color1);
  font-size: 3rem;
}

.subHeading2 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--font-color1);
  font-size: 20px;
  letter-spacing: 5px;
  margin-top: 10px;
  /* margin-bottom: 30px; */
}

.para {
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 30px;
  color: var(--font-color2);
  margin: 20px 0;
  font-weight: 300;
}

.buttonContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 100px;
}

.buttonWrapper {
  width: 35%;
  margin-right: 20px;
}

.button {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 300;

  padding: 20px 10px;
  border-radius: 7px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.button1 {
  color: white;
  background-color: var(--main-color1);
  position: relative;
}

.button2 {
  border: 1px solid var(--main-color1);
  color: var(--main-color1);
  position: relative;
}

.button1::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.button2::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  z-index: -1;
}
.button:hover::after {
  transform: translateX(0%);
}

.right {
  width: 35%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .homeContent {
    width: 60%;
  }
  .mainHeading {
    font-size: 2.5rem;
  }

  .mainHeading2 {
    font-size: 1rem;
  }

  .diff {
    font-size: 2rem;
  }

  .subHeading2 {
    font-size: 17px;
  }
  .para {
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 25px;
    margin: 10px 0;
  }

  .buttonContainer {
    margin-top: 60px;
  }

  .button {
    font-size: 16px;
    padding: 10px 0;
    line-height: 24px;
  }
  /* .buttonWrapper {
    width: 28%;
  } */

  .blurBox {
    width: 50%;
    height: 150px;
  }

  .blurLine {
    height: 5px;
    margin-bottom: 10px;
  }
  .homePoster {
    width: 54%;
  }
  .line {
    height: 1px;
  }
  .paraContainer {
    left: 0;
  }
  .imagePara {
    font-size: 8px;
  }
}

@media screen and (max-width: 1150px) {
  .container {
    padding: 0 4%;
  }

  .homeContent {
    width: 70%;
  }
  .right {
    width: 30%;
  }
  .mainHeading {
    font-size: 2.3rem;
  }
  .mainHeading2 {
    font-size: 0.7rem;

    letter-spacing: 2px;
  }
  .diff {
    font-size: 1.7rem;
  }
  .subHeading2 {
    font-size: 14px;
  }

  .para {
    font-size: 13px;
    line-height: 20px;
  }

  .blurBox {
    border-radius: 10px;
    width: 50%;
    height: 120px;
    padding: 10px;
  }
  .homePoster {
    border-radius: 7px;
    border: 1px solid white;
  }
}
@media screen and (max-width: 1050px) {
  .backgroundImg2 {
    top: -20%;
    right: -20%;
  }
}
@media screen and (max-width: 950px) {
  .backgroundImg2 {
    height: 65vh;
  }
}
@media screen and (max-width: 850px) {
  .container {
    justify-content: center;
    flex-direction: column;
  }

  .blob {
    width: 70%;
  }
  .blob2 {
    width: 55%;
  }

  .blob3 {
    width: 67%;
  }

  .right {
    /* margin-top: 100px; */
    position: absolute;
    bottom: 10%;
  }
  .backgroundImg1 {
    left: -54%;
  }
  .backgroundImg2 {
    height: 53vh;
    top: -21%;
  }

  .homeContent {
    margin-left: 0;
    margin-top: -10%;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainHeading {
    font-size: 3rem;
  }

  .subHeading {
    transform: translateX(50%);
    white-space: nowrap;
    right: 50%;
    font-size: 20px;
    bottom: 0;
  }
  .diff {
    font-size: 25px;
  }

  .subHeading2 {
    font-size: 18px;
  }

  .para {
    font-size: 15px;
  }

  .buttonWrapper:nth-child(2) {
    display: none;
  }
  .buttonContainer {
    width: 100%;
    justify-content: center;
  }
  .buttonWrapper {
    width: 50%;
  }
  .button {
    letter-spacing: 2px;
  }

  .blurBox {
    width: 100%;
  }
  .homePoster {
    width: 40%;
  }
  .imagePara {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .homeContent {
    width: 90%;
    margin-top: -170px;
  }
  .mainHeading {
    font-size: 3.5rem;
  }
  .subHeading {
    font-size: 16px;
  }
  .diff {
    font-size: 20px;
  }

  .subHeading2 {
    font-size: 17px;
  }

  .button {
    font-size: 15px;
  }
  .buttonWrapper {
    width: 55%;
  }

  .right {
    bottom: 14%;
  }
  .homePoster {
    width: 50%;
  }
  .backgroundImg2 {
    top: -18%;
    right: -40%;
  }
  .paraContainer {
    left: 5%;
  }
  .imagePara {
    font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    /* background: linear-gradient(to right, rgb(15, 15, 15), #150b0c); */
    padding: 0 2%;
  }
  .homeContent {
    width: 100%;
  }
  .para {
    letter-spacing: 1px;
    font-size: 16px;
  }

  .buttonWrapper {
    width: 65%;
    margin-right: 0;
  }
  .mainHeading {
    font-size: 3rem;
  }

  .subHeading2 {
    font-size: 11px;
  }

  .para {
    font-size: 13px;
  }

  .button {
    font-size: 13px;
  }
  .right {
    width: 50%;

    bottom: 20%;
  }
  .blurBox {
    height: 100px;
  }
  .homePoster {
    width: 34%;
  }

  .buttonContainer {
    margin-top: 20px;
  }
  .backgroundImg1 {
    left: -84%;
  }
  .backgroundImg2 {
    right: -50%;
  }
  .paraContainer {
    left: 10%;
  }
  .imagePara {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .backgroundImg2 {
    right: -20%;

    top: -10%;
    transform: translateX(10%);
    height: 40vh;
  }
}
@media screen and (max-width: 350px) {
  .mainHeading {
    font-size: 3rem;
  }
  .subHeading {
    font-size: 15px;
  }
  .diff {
    font-size: 17px;
  }

  .subHeading2 {
    font-size: 13px;
  }
  .para {
    font-size: 15px;
  }

  .button {
    font-size: 15px;
  }
  .buttonWrapper {
    width: 60%;
  }
  .backgroundImg2 {
    top: -10%;
    transform: translateX(15%);
    height: 40vh;
  }
}

@media screen and (max-width: 300px) {
  .mainHeading {
    font-size: 2rem;
  }
  .subHeading2 {
    font-size: 9px;
  }
  .para {
    font-size: 11px;
  }
  .button {
    letter-spacing: 1px;
    font-size: 10px;
  }
}
